.DS_Store

# notebook checkpoints
.ipynb_checkpoints

.idea/

# image search data
image_search/tmp

# it threat detection data
it_threat_detection/*.csv
it_threat_detection/*.stats
it_threat_detection/*.model
it_threat_detection/*.zip
it_threat_detection/DeepLearning*
it_threat_detection/__MACOSX

# question answering data
question_answering/tmp
